<% provide(:title,'Impressum') %>

<h1>Impressum</h1>
<p>8seeds UG (haftungsbeschr채nkt)</p>
<p>Hermann-Behn-Weg 2<br>
20146 Hamburg<br>
Handelsregister: HRB 125051<br>
Amtsgericht Hamburg<br>
Gesch채ftsf체hrer: Christoph Biallas<br></p>

<p>KONTAKTINFORMATIONEN</p>

E-Mail: info@8seeds.com<br>
Telefon: +49 (0)40 / 609 45 85 67<br>
Telefax: +49 (0)40 / 609 45 85 69<br>

Verantwortlich f체r den Inhalt: Christoph Biallas<br>
Adresse und Kontaktdaten wie oben.</p>
