<% provide(:title,'Über uns') %>

<h1>Über uns</h1>
<h5>Mit SneedIn werden Lieferung nach Hause günstiger und einfacher!</h5> 
<p>Wenn Du über SneedIn bestellst, erhalten andere SneedIn-Mitglieder in Deiner Nähe eine Benachrichtigung. Diese können jetzt bei Deiner Bestellung mitbestellen. Tun sie das, erhalten Du und Deine Mitbesteller einen Lieferrabatt, weil der Lieferservice Lieferkosten spart. Deine Bestellung wird wie gewohnt zu Dir geliefert, nur günstiger und mit weniger Stress für den Lieferservice und die Umwelt.</p>
<p>SneedIn will in Zukunft die Bestellplattform für alle Lieferungen nach Hause sein. Egal ob Essen, Getränke, Biokiste oder häusliche Dienstleistungen wie Reinigung der Wohnung oder Fensterputzen. Alles soll zukünftig über SneedIn abwickelbar sein und so endlich Bestellungen nach Hause bequem und einfach machen.</p>
<h5>SneedIn für Händler: Mit uns erreichen Sie mehr Kunden!</h5>
<p>Wer sich als Händler bei SneedIn anmeldet erreicht neue Kunden, denn jedes Mal, wenn jemand bei Ihnen über SneedIn bestellt, erhalten etliche andere SneedIn-Mitglieder darüber eine Information. So vergrößern Sie Ihre Bekanntheit und erhöhen Ihren Umsatz.</p>
<p>Gleichzeitig optimieren Sie Ihre Touren, denn es kann immer nur mitbestellt werden, wenn man sich in der Nähe einer Bestellung befindet. So müssen Sie oder Ihre Mitarbeiter nicht 5-mal die gleiche Straße anfahren um 5 Lieferungen zu verschiedenen Uhrzeiten auszuliefern, sondern nur einmal.</p>