<!-- Footer -->
<footer class="footer">
  <nav>
    <ul>
      <li><%= link_to "Über uns",   ueberuns_path %></li>
      <li><%= link_to "Kontakt", kontakt_path %></li>
      <li><%= link_to "Impressum", impressum_path %></li>
    </ul>
  </nav>
</footer>